body{
    margin: 0%;
    background-color:white;
}
.header{
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
    font-size: 25px;
    text-align: center;
    color:#ffc2d1;
}
.wish{
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10rem;
}
.wish{
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10rem;
}
